@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Cairo SemiBold'), local('Cairo-SemiBold'), url(https://fonts.gstatic.com/s/cairo/v6/SLXLc1nY6Hkvalr-ar6M.ttf) format('truetype');
}
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Cairo Bold'), local('Cairo-Bold'), url(https://fonts.gstatic.com/s/cairo/v6/SLXLc1nY6Hkvalqaa76M.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9vAw.ttf) format('truetype');
}
/*Colors-Variables*/
body {
  padding-top: 50px;
  padding-bottom: 20px;
  font-family: 'Cairo', sans-serif;
  font-size: 1.8rem;
  /*font-family: 'Roboto', sans-serif;*/
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Cairo', sans-serif;
}
/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
  white-space: normal;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 280px;
}
/*Bootstrap Overrides */
.navbar-inverse {
  background-color: #ff4342;
  border-color: #ff4342;
}
.navbar-inverse .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-inverse .navbar-nav > li > a .open > a {
  background-color: rgba(255, 152, 114, 0.53);
}
.navbar-inverse .navbar-nav > li > a .open > a:hover {
  background-color: rgba(255, 152, 114, 0.53);
}
.navbar-inverse .navbar-brand {
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: rgba(255, 152, 114, 0.53);
}
.dropdown-menu {
  box-shadow: none;
  -moz-box-shadow: none;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  text-decoration: none;
  background-color: rgba(255, 152, 114, 0.9);
}
.navbar-inverse .navbar-nav > .dropdown > a .caret {
  border-top-color: #fff;
}
.navbar-brand {
  line-height: 20px;
  font-weight: 700;
}
.form-group {
  margin-bottom: 20px;
}
.form-control {
  background-color: #f1f1f1;
  border: 1px solid #ececec;
  font-size: 1.6rem;
  padding: 20px 15px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}
.form-control:focus {
  border-color: #2196f3;
  box-shadow: none;
  -moz-box-shadow: none;
}
select.form-control {
  height: 42px;
  padding: 5px 10px;
}
.field-validation-error {
  color: orangered;
  font-size: 1.5rem;
}
.btn {
  font-size: 1.8rem;
  padding: 7px 20px;
  border-radius: 11px;
}
/*Gig Desgin*/
ul.upcomeing-gigs-list {
  list-style-type: none;
  padding: 20px 15px;
}
ul.upcomeing-gigs-list li {
  display: flex;
  margin: 20px 0px;
}
.month {
  text-align: center;
  padding: 5px 3px;
  background-color: orangered;
  border-radius: 5px 5px 0px 0px;
}
.date {
  min-width: 35%;
  margin-right: 10px;
}
.details {
  min-width: 50%;
  padding-top: 5px;
}
.details .genre {
  font-size: 1.5rem;
  color: #686868;
  display: inline;
  margin-right: 5px;
}
.details .artist {
  font-weight: bold;
  display: block;
}
.details .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  border-radius: 11px;
}
.day {
  text-align: center;
  padding: 5px 3px;
  background: rgba(211, 211, 211, 0.31);
  /*border-radius: 0px 0px 5px 5px;*/
  /*border: 1px solid #b5b5b5;*/
  border-top: none;
}
.action {
  display: none !important;
  font-size: 1.4rem;
}
.single-gig:hover .action {
  display: block !important;
}
/*Notification */
.notification {
  position: relative;
}
.notification span {
  position: absolute;
  top: -8px;
  left: 11px;
  background-color: #e81e1e;
  line-height: 17px;
  padding-top: 0px;
}
/*Popover========== */
.popover {
  max-width: 405px;
}
.popover .popover-content {
  overflow: auto;
  height: 450px;
}
.popover .popover-title {
  text-align: center;
}
.popover ul.notifications {
  list-style: none;
  padding-left: 0px;
}
.popover ul.notifications li:not(:last-child) {
  border-bottom: 1px solid #b6b6b6;
}
.popover ul.notifications li {
  padding: 10px 0px;
}
.popover ul.notifications span.highlight {
  font-weight: bold;
}
/*Search Form */
.search-box {
  width: 300px;
}
.search-box span {
  border: none;
  border-left: 1px solid #d3d1d1 !important;
}
.search-box input[type=text] {
  border: none;
}

.btn-follow {
    height: 41px;
    font-size: 1.6rem;
}