@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600;700&family=Roboto:wght@400;500&display=swap');


body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Cairo', sans-serif;
    font-size: 1.8rem;
    /*font-family: 'Roboto', sans-serif;*/
}

h1, h2, h3, h4, h5 {
    font-family: 'Cairo', sans-serif;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/*Bootstrap Overrides */
.navbar-inverse {
    background-color: #ff4342;
    border-color: #ff5e42;
}

    .navbar-inverse .navbar-nav > li > a {
        color: #ffffff;
    }

    .navbar-inverse .navbar-brand {
        color: #ffffff;
    }

    .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
        background-color: rgba(255,152,114,0.53);
    }

.dropdown-menu {
    box-shadow: none;
    -moz-box-shadow: none;
}

    .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
        text-decoration: none;
        background-color: rgba(255,152,114,0.9);
    }

.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-top-color: #fff;
}

.navbar-brand {
    line-height: 20px;
    font-weight: 700;
}





.form-group {
    margin-bottom: 20px;
}


.form-control {
    background-color: #f1f1f1;
    border: 1px solid #ececec;
    font-size: 1.6rem;
    padding: 20px 15px;
    -ms-border-radius: 10px;
    border-radius: 10px;
}

    .form-control:focus {
        border-color: #2196f3;
        box-shadow: none;
        -moz-box-shadow: none;
    }

select.form-control {
    height: 42px;
    padding: 5px 10px;
}

.field-validation-error {
    color: orangered;
    font-size: 1.5rem;
}

.btn {
    font-size: 1.8rem;
    padding: 7px 20px;
    border-radius: 11px;
}

.details .btn {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    border-radius: 11px;
}

/*Gig Desgin*/

ul.upcomeing-gigs-list li {
    display: flex;
    margin: 20px 0px;
}

ul.upcomeing-gigs-list {
    list-style-type: none;
    padding: 20px 15px;
}

.month {
    text-align: center;
    padding: 5px 3px;
    background-color: orangered;
    border-radius: 5px 5px 0px 0px;
}

.date {
    min-width: 35%;
    margin-right: 10px;
}

.details {
    min-width: 50%;
    padding-top: 5px;
}

    .details > .genre {
        font-size: 1.5rem;
        color: #686868;
        display: inline;
        margin-right: 5px;
    }

    .details > .artist {
        font-weight: bold;
        display:block
    }


.day {
    text-align: center;
    padding: 5px 3px;
    background: rgba(211, 211, 211, 0.31);
    /*border-radius: 0px 0px 5px 5px;*/
    /*border: 1px solid #b5b5b5;*/
    border-top: none;
}


.action{
    display:none !important;
    font-size:1.4rem
}


.single-gig:hover .action{
    display:block !important;

}